//Config file for pipeline

executor.$local.cpus = 64

process {
    withName:Download_PRIDE_files {
        container = 'spectral_library_pipeline:latest'
    }
    withName:Donwload_massIVE_files {
        container = 'spectral_library_pipeline:latest'
    }
    withName:ThermoRawFileParser {
        container = '"quay.io/biocontainers/thermorawfileparser:1.2.3--1"'
    }
    withName:IdFileParser {
        container = 'spectral_library_pipeline:latest'
    }
    withName:CreateSpectralLibary {
        container = 'spectral_library_pipeline:latest'
    }
}
docker {
    enabled = true
}
